@font-face {
  font-family: "Bungee-Regular";
  src: url("../public/fonts/Bungee-Regular.ttf");
}
@font-face {
  font-family: "Monoton-Regular";
  src: url("../public/fonts/Monoton-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Bungee-Regular, sans-serif;
  color: #e8edef;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
